.wp-block-cpl-ambient-weather {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.ambient-weather {
	background: rgb(0,87,183);
	background: linear-gradient(187deg, rgba(0,87,183,1) 0%, rgba(0,75,158,1) 100%);
	padding: 50px 15px;

	.content {
		max-width: 120ch;
		color: #fff;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		text-transform: capitalize;
	}

	.ambient-weather-button {
		transition: all 0.2s ease;
		background: #FCCE06;
		display: inline-block;
		height: auto;
		padding: 7px 9px 7px 7px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
		border: solid 3px #FCCE06;

		img {
			width: 100%;
			max-width: 150px;
			height: auto;
			float:left;
		}

		&:hover {
			border: solid 3px #111;
			background: lighten(#FCCE06, 10);
			text-decoration: none;
		}
	}

	.ambient-link {
		img {
			width: 150px !important;
			max-width: none;
		}
	}

	.ambient-temp {
		background: #fff;
		border-color: #fff;
		color: #0057B7;
		font-weight: bold;
		font-size: 1.1rem;
		display: flex;
		justify-content: center;
		padding-top: 6px;
		padding-bottom: 6px;

		.ambient-degree {
			margin-right: 5px;
		}

		img {
			width: 24px;
			height: auto;
			float: none;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

@media (max-width: 979px) {

	.ambient-weather {
		padding: 25px 15px;
	}

	.ambient-weather .content {
		display: block;
		text-align: center;
	}

	.ambient-words {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	.ambient-temp {
		font-size: 1rem !important;
		max-width: 150px;
		display: inline-block !important;
	    padding-top: 7px !important;
	    padding-bottom: 7px !important;
	    margin-top: 1px;

		img {
			width: 20px !important;
		    float: right !important;
		    margin-top: 2px !important;
		}
	}

}

@media (max-width: 767px) {

}








/**
 * Including the at-only style with the dialog CSS as it is required
 * to visually hide a dialog's heading if desired.
 */
.at-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Trigger styling
 */
[data-modal-open][hidden] {
  display: none;
}

/**
 * When a modal dialog is open, don't allow scrolling of content
 * beneath (on desktop). Also useful in negating instances of
 * double scroll bars.
 * (browser window + dialog if long enough content)
 */
body.modal-open {
  overflow: hidden;
}

/**
 * Modal Dialog base styling
 */
.js [data-modal],
.a11y-modal {

 -webkit-overflow-scrolling: touch;
    background: #fff;
    border: 2px solid;
    bottom: 0;
    box-shadow: 0 0 1800px 400px rgba(0, 0, 0, 0.4);
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 660px;
    opacity: 1;
    overflow: auto;
    padding: 1.25em;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(0%);
    visibility: visible;
    width: 100%;
    z-index: 3000;
}

#weather_modal {
  background: rgb(0,82,173);
  background: linear-gradient(197deg, rgba(0,82,173,1) 0%, rgba(0,67,140,1) 100%);
  border: none;
  border-top: 5px solid #FCCE06;
  bottom: 0;
  box-shadow: 0 0 1800px 400px rgba(255,255,255,.6);
  color: #fff;
  height: auto;
}

@media screen and ( min-height: 440px ) and ( min-width: 500px ) {
  .js [data-modal],
  .a11y-modal {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }
}


/**
 * To allow for CSS animations, hidden modal dialogs are
 * not set to display: none, but rather the following rule
 * set, in combination with the dialog's default
 * position: fixed, will keep dialogs hidden from
 * all users until opened.
 *
 * This also solves an issue with iOS VO + Safari not allowing
 * modal dialogs to be focused, if the dialog is initially
 * set to "display: none".
 */
#weather_modal .js [data-modal][hidden],
#weather_modal .a11y-modal[hidden] {
  display: block;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15vh);
  visibility: hidden;
}

#weather_modal .a11y-modal__close-btn {
  border: none;
  transform: rotate(0deg);
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/weather/weather-close-32.svg);
  cursor: pointer;
}

#weather_modal [data-modal-x] {
display:none
}

#weather_modal [data-modal-x]:after {
  display: none;
}

/* this is not the way to do this, but it is how it's being done before this scrip is archived. */
#weather_modal [data-modal-open] > * {
  pointer-events: none;
}

/* New Code */

#weather_modal.a11y-modal {
  h2 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  ul {
    margin-bottom: 1rem;
  }
  hr {
    border: none;
    border-top: solid 1px #fff;
    margin-bottom: 0.8rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 1rem;
  }
}

  .weather-details {
    line-height: 32px;
    list-style: none;

    li {
      display: inline-block;
      width: 48%;

      @media(max-width: 550px){
        width: 90%;
      }
    }

    li:before {
      content: " ";
      width: 32px;
      height: 32px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    .weather-temp:before {
      background: url(../img/weather/temp-32.svg);
    }

    .weather-wind:before {
      background: url(../img/weather/wind-32.svg);
    }

    .weather-direction:before {
      background: url(../img/weather/direction-32.svg);
    }

    .weather-rain:before {
      background: url(../img/weather/precip-32.svg);
    }

    .weather-pressure:before {
      background: url(../img/weather/pressure-32.svg);
    }
  }

  .ambient-weather .ambient-temp {
    text-decoration: none;
  }

  .ambient-weather .ambient-weather-button {
    vertical-align: middle;
  }

	// poorly named :/
	.hr--alternative {
		background: #fff;
	}


	.p--description_on_background_dark {
	color: #FCCE06;
	text-align: right
	}
